.dashboardplayer {
    display: none;
  }

.generatechooseplayer{
  display: none;
}

.collectionplayer{
  display: none;
}

.questplayer{
  display: none;
}

.playgroundchooseplayer{
  display: none;
}